aiohttp
aiosignal
appnope
asttokens
async-timeout
attrs
backcall
cbor2
certifi
charset-normalizer
decorator
executing
frozenlist
idna
ipdb
ipython
jedi
matplotlib-inline
multidict
numpy
parso
pexpect
pickleshare
pip
prompt-toolkit
ptyprocess
pubnub
pure-eval
pycryptodomex
pygame
Pygments
python-dotenv
requests
setuptools
six
stack-data
tomli
traitlets
urllib3
wcwidth
yarl

